@import "main.scss";

// ---- Variables : ---- //
// breakpoints :
$breakpoint1_slides: 480px;// End of mobiles --> Au delà, on commence à ne pa smettre width image à 100% pour ne pas que hauteur dépasse.
$breakpoint2_slides: 600px;
$breakpoint3_slides: 800px;
$breakpoint_4_landscape: 668px;// for iphione6 little

* {
	font-family: $typo-google-choisie;
}

html, body {
	height: 100%;// Pour permettre d'affecter des hauteurs/élémets relatives à ça.
}

img, embed, object, video {// Pour éviter que dépasse.
	max-width: 100%;
}

.photosFamilly {
	visibility: hidden;
	display: none;
}

.turn-initial-page {
	position: relative;
	font-size: 18px;
	text-align: right;
	margin-right: 0.8em;
	cursor: pointer;
}

.container {
	margin-bottom: 5px!important;
	#slides {
		display:none;
		text-align: center;
		.slidesjs-navigation {
			font-size: 18px;
			padding-right: 10px;
		}
	}
}

// First break point :
@media screen and (orientation: landscape) and (max-width: $breakpoint_4_landscape) {
	body {
		background-color: $background-color-body!important;
		.turn-initial-page {
			color: white!important;
		}
		.container {
			margin-top: 2px!important;
			#slides {
				border: solid 1px white!important;
				padding-left: 15%;
				.slidesjs-navigation {
					color: white!important;
					position: absolute;
					top: 1%;
					left: 2%;
				}
				.slidesjs-next {
					left: 76px;
				}
				.slidesjs-container {
					border: none!important;
					margin-bottom: 0px!important;
					.slidesjs-control {
						display: block;
						img {
							width: 85%!important;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: $breakpoint1_slides) {
	body {
		background-color: $background-color-body;
		.turn-initial-page {
			color: white;
		}
		.container {
			#slides {
				border: solid 1px white;
				.slidesjs-navigation {
					color: white;
				}
				.slidesjs-container {
					border-bottom: solid 1px white;
					margin-bottom: 4px;
					.slidesjs-control {
						.foto {
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: $breakpoint1_slides+1) and (max-width: $breakpoint2_slides) {
	body {
		background-color: white;
		.turn-initial-page {
			color: $grisSombre;
			&:hover {
				color: $background-color-body;
				font-weight: bold;
			}
		}
		.container {
			#slides {
				border: solid 1px $grisSombre;
				.slidesjs-container {
					margin-left: auto;
					margin-right: auto;
				}
				.slidesjs-navigation {
					color: $grisSombre;
					&:hover {
						font-weight: bold;
					}
				}
			}
		}
	}
}

// Third break point :
@media screen and (min-width: $breakpoint2_slides+1){
	body {
		background-color: white;
		.turn-initial-page {
			color: $grisSombre;
			&:hover {
				color: $background-color-body;
				font-weight: bold;
			}
		}
		.container {
			#slides {
				border: solid 1px $grisSombre;
				.slidesjs-container {
					margin-left: auto;
					margin-right: auto;
				}
				.slidesjs-navigation {
					color: $grisSombre;
					size: 0.8em;
					&:hover {
						font-weight: bold;
					}
				}
			}
		}
	}
}
